<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Trubachev41Entities" connectionString="metadata=res://*/Trubachev41.csdl|res://*/Trubachev41.ssdl|res://*/Trubachev41.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FELNEX\SQLEXPRESS;initial catalog=Trubachev41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>